.mainFooter a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase; 
}

.mainFooter .coluna{
    text-align: left;
}

.mainFooter .empresa{
    margin-top: -4em;
}

.mainFooter .empresa p{
    margin-top: -3em;
}

.mainFooter P{
    line-height: 1.5;
}