input, select, textarea, label{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: bolder;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: bolder;
    color: #733E5C;
}

fieldset{
    border: 0;
}

.formulario{
    margin-top: 20px;
}

.grupo{
    display: grid;
    grid-template-columns: 60% 40%;
}

.campo label {
    margin-bottom: 0.2em;
    color: rgb(185, 72, 72);
    display: block;
}

.campo input[type="file"] {
    display: none
  }
  

.campo input[type="text"],
.campo input[type="file"],
.campo select{
    border: 1px solid #CCC;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
    height: 6vh;
    width: 100%;
}

.campo select option {
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #FFC;
}

.campo label.checkbox {
    color: #000;
    display: inline-block;
    margin-right: 1em;
}

.botao {
    font-size: 1.5em;
    background: #19A786;
    border: 0;
    color: #FFF;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    width: 98.5%;
    margin-top: 20px;
    height: 6vh;
}

.botao:hover {
    background: #0d866a;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

.botao, select, label.checkbox {
    cursor: pointer;
}