*{
	margin: 0px;
	padding: 0px;
}

#galeria{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    flex-wrap: wrap;
    padding: 5%;
}

#galeria img{
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
    margin-left: 80px;
}

#galeria h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
	color: rgb(185, 72, 72);
    margin-left: 30%;
}

#galeria h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
	color: rgb(185, 72, 72);
    margin-left: 40%;
}

@media screen and (max-width: 1024px){
  
}

@media screen and (max-width: 768px){
    
}

@media screen and (max-width: 640px){
    #galeria img{
        margin-left: 30px;
    }
}

@media screen and (max-width: 360px){
    #galeria img{
        width: 200px;
        height: 200px;
        margin-left: 30px;
    }
    #galeria h1{
        font-size: 20px;
    }
    #galeria h2{
        font-size: 10px;
    }
}