*{
	margin: 0px;
	padding: 0px;
}

.mainHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#galeria img{
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
    margin-left: 80px;

}

#galeria{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    flex-wrap: wrap;
    padding: 10%;
}


#galeria h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
	color: rgb(185, 72, 72);
    margin-left: 30%;
}

#galeria h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
	color: rgb(185, 72, 72);
    margin-left: 40%;
}

.mainFooter{
    display: flex;
    flex-direction: row;
    background-color: #FF637C;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
    padding: 30px;
}

@media screen and (max-width: 1024px){
    
}

@media screen and (max-width: 768px){

}

@media screen and (max-width: 640px){

}

@media screen and (max-width: 360px){
    
}