.mainHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.mainHeader img{
    align-self: center;
}

.mainHeader nav{
    align-self: center;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50vw;
}

.mainHeader nav a{
    font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	color: #19A786;
	text-decoration: none;
    cursor: pointer;
    font-weight: bolder;
}

nav a:focus {
    color: #FFFFFF;
    background-color: #FF637C;
}

@media screen and (max-width: 1024px){
    .mainHeader nav{
        width: 60%;
    }
}


@media screen and (max-width: 800px){
    .mainHeader nav a{
        margin-left: 17px; 
    }
    .mainHeader nav{
        width: 92%;
    }
}

@media screen and (max-width: 768px){
    .mainHeader{
        flex-direction: column;
        align-items: center;
    }
    .mainHeader nav{
        width: 92%;
    }
    .mainHeader nav a{
        margin-left: 20px; 
    }
}  

@media screen and (max-width: 640px){
    .mainHeader nav a{
        font-size: 15px;
    }

}

@media screen and (max-width: 360px){
    .mainHeader nav a{
        font-size: 12px;
    }
}