*{
	margin: 0px;
	padding: 0px;
}

#main{
    display: grid;
    grid-template-rows: 20vh 80vh 80vh 90vh 30vh;
    grid-template-areas: "header header" "content content" "carrossel carrossel" "form form" "footer footer";
}

.mainHeader{
    display: grid;
    grid-area: header;
    grid-template-columns: 50% 50%;
    
}

.mainHeader img{
    align-self: center;
}

.mainHeader nav{
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-self: center;
}

.mainHeader nav a{
    font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	color: #19A786;
	text-decoration: none;
    cursor: pointer;
    font-weight: bolder;
}

nav a:focus {
    color: #FFFFFF;
    background-color: #FF637C;
}


.mainInicio{
    grid-area: content;
    background-color: #ECF8F5;
    width: 90%;
    height: 80vh;
    margin-left: 5%;
}

.mainInicio h1{
    font-family: 'Dancing Script', cursive;
    font-size: 100px;
	color: #19A786;
}

.mainInicio .texto{
    position: absolute;
	left: 30%;
	top: 50%;
}

.mainInicio .texto button{
    font-size: 1.5em;
    background: #19A786;
    color: #2F2D51;
    padding: 0.4em 3em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    border-radius: 8px;
    margin-left: 30%;
    margin-top: 2%;
}

.mainInicio .texto a{
    position: absolute;
	right: 110%;
	top: 10%;
}

.mainCarrossel{
    grid-area: carrossel;
}

.mainForm{
    grid-area: form;
}

.mainFooter{
    display:grid;
    grid-template-columns: 33% 33% 33% 33%;
    grid-area: footer;
    background-color: #FF637C;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}


.mainFooter a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase; 
}

.mainFooter .coluna{
    text-align: center;
    text-align: left;
    margin-left: 40%;
    margin-top: 15%;
}

.mainFooter .empresa{
    margin-top: -4em;
}

.mainFooter .empresa p{
    margin-top: -3em;
}

.mainFooter P{
    line-height: 1.5;
}

