*{
	margin: 0px;
	padding: 0px;
}

#main{
    display: grid;
    grid-template-rows: 15vh 90vh 55vh 20vh;
    grid-template-areas: "header header" "content content" "aside aside" "footer footer";
}

.mainHeader{
    grid-area: header;
    background-color: rgb(185, 72, 72);
    
}

.mainHeader img{
    margin-top: -25px;
}

.mainHeader nav{
    grid-area: header;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-self: right; 
    align-self: center;
    background-color: gold;
}

.mainNav a{
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	color: #19A786;
	text-decoration: none;
    cursor: pointer;
    font-weight: bolder;
    margin-right: 90px;
}

.mainNav a:focus {
    color: #FFFFFF;
    background-color: #FF637C;
}


.mainInicio{
    grid-area: content;
}

.mainInicio h1{
    font-family: 'Dancing Script', cursive;
    font-size: 100px;
	color: #19A786;
	text-decoration: none;
    cursor: pointer;
}

.mainInicio .texto{
    background-color: #ECF8F5;
    width: 90%;
    height: 80vh;
    margin-left: 5%;
}

.mainAside{
    grid-area: aside;
    background-color: deeppink;
}

.mainFooter{
    grid-area: footer;
    background-color: darkorchid;
}



