.mainCarrossel{
    display: grid;
    grid-template-rows: 42vh 6vh;
    grid-template-areas: "carrossel carrossel" "quadrado quadrado";
    margin-top: 5%;
    text-align: center;
}

.mainCarrossel .imagem{
    grid-area: carrossel;  
}

.mainCarrossel img{
    width: 930px;
    height: 400px;
}

a{
    text-decoration: none;
    cursor: pointer;
    font-weight: bolder;
    font-size: 20px;
}

.mainCarrossel .quadrados{
    grid-area: quadrado;
    display: grid;
    grid-template-columns: 40% 40% 40%;
    width: 15%;
    margin-left: 69.6em;
    margin-top: 2vh;
}

.quadrado{
    background-color: #f6aab7;
    border: solid 15px #f6aab7;
    padding: 10px;
    width: 1%;
    text-align: right;
}

.selecionado{
    background-color: #FF637C;
    border: solid 15px #FF637C;
}
