
.mainCarrossel .imagem{
    width: 50vw;
    height: 40vh;
    margin-bottom: 1em;
}

.mainCarrossel .imagem img{
    width: 100%;
    height: 100%;
}

.mainCarrossel a{
    text-decoration: none;
    cursor: pointer;
    font-weight: bolder;
    font-size: 20px;
}

.mainCarrossel .quadrados{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 15em;
}

.quadrado{
    background-color: #f6aab7;
    border: solid 20px #f6aab7;

}

.selecionado{
    background-color: #FF637C;
    border: solid 20px #FF637C;
}

@media screen and (max-width: 450px){
    .mainCarrossel .imagem{
        width: 80vw;
        height: 40vh;
    }
}

@media screen and (max-width: 360px){
    .mainCarrossel .imagem{
        height: 20vh;
        margin-bottom: 1em;
    }
    .mainCarrossel .quadrados{
        width: 10em;
    }
    .quadrado{
        border: solid 10px #f6aab7;
    }
    .selecionado{
        border: solid 10px #FF637C;
    }
}