*{
    margin: 0px;
    padding: 0px;
}

#carrossel{
    display: grid;
    grid-template-rows: 42vh 6vh;
    grid-template-areas: "carrossel carrossel" "quadrado quadrado";
    width: 50%;
    margin-top: 5%;
    margin-left: 25%;
 
}

.imagem{
    grid-area: carrossel;  
}

img{
    width: 1000px;
    height: 400px;
}

a{
    text-decoration: none;
    cursor: pointer;
    font-weight: bolder;
    font-size: 20px;
}


#quadrados{
    grid-area: quadrado;
    display: grid;
    grid-template-columns: 10% 10% 10%;
    margin-top: 4%;
 
}

.quadrado{
    background-color: #f6aab7;
    border: solid 15px #f6aab7;
    padding: 10px;
    width: 1%;
    margin-left: 755%;
}

.selecionado{
    background-color: #FF637C;
    border: solid 15px #FF637C;
}
