*{
	margin: 0px;
	padding: 0px;
}

.mainHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

#sobre h1{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: bolder;
    color: #733E5C;
}

#sobre .conteudo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    margin-top: 20px;
    flex-wrap: wrap;
}

#sobre .texto{
    font-family: 'Roboto';
	font-size: 20px;
    color: #2F2D51;
    line-height: 40px;
    width: 50vw;
}

#sobre .imagem{
    background-color: #19A786;
    width: 500px;
    height: 46vh;
}

#sobre .imagem img{
    width: 100%;
    height: 100%;
    margin-top: 20px;
    margin-left: 30px;
}

.mainFooter{
    display: flex;
    flex-direction: row;
    background-color: #FF637C;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

@media screen and (max-width: 1024px){
    #sobre .conteudo{
        justify-content: center;
    }
    
}

@media screen and (max-width: 768px){
    #sobre{
        margin-top: 40px;
    }
    .mainHeader{
        flex-direction: column;
        align-items: center;
    }
    #sobre .texto{
        width: 95%;
    }
    #sobre .imagem{
        width: 300px;
        height: 30vh;
        margin-top: 30px;
    }

}

@media screen and (max-width: 640px){
    #links{
        display: none;
    }
    #sobre h1{
        font-size: 30px;
    }
}

@media screen and (max-width: 360px){
    #sobre h1{
        font-size: 20px;
    }
    #sobre .texto{
        font-size: 15px;
    }
    #sobre .imagem{
        width: 200px;
        height: 20vh;
        margin-top: 20px;
    }
    .mainFooter{
        flex-direction: column;
        align-items: center;
    }
    .mainFooter .coluna{
        text-align: center;
    }
    
    #links{
        display: none;
    }
}